.App {
  text-align: center;
  color: white;
}

header {
  display: flex;
  justify-content: space-between; /* Rozstawiamy elementy na końcach */
  align-items: center; /* Wyrównujemy elementy w pionie */
  background-color: #FF0000;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #1900f7; 
}

main {
  color: #FF0000;
  padding: 20px;
}

footer {
  background-color: #FF0000;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
}
.menu-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu {
  display: none;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #FFC0CB;
}

section img {

  width:650px;
  height: 650px;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px; 
  cursor: pointer;
}

.prev-button {
  left: 10px; 
}

.next-button {
  right: 10px;
}

.image-description {
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  color: white;
  text-align: center; 
  
}